<% unless (devise_error_messages!).empty? %>
  <div class="alert alert-danger">
    <%= devise_error_messages! %>
  </div>
<% end %>

<div class="auth signup">
  <div class="row row-gutterless">
    <div class="col-md-12">
      <h2>Get started with OhShip</h2>
      <br />
    </div>
  </div>

  <div class="row row-gutterless">
    <div class="form-panel col-sm-5">
      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
        <%= f.hidden_field :referrer_id, :value => @referrer_id if @referrer_id %>

        <div class="form-group"><%= f.label :email %>
        <%= f.email_field :email, :class => "form-control" %></div>

        <div class="form-group"><%= f.label :name %>
        <%= f.text_field :name, :autofocus => true, :class => "form-control" %></div>

        <div class="form-group"><%= f.label :password %>
        <%= f.password_field :password, :class => "form-control" %></div>

        <div class="form-group"><%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, :class => "form-control" %></div>

        <div class="form-group"><%= f.submit "Sign up", :class => "btn btn-danger btn-lg" %></div>
      <% end %>

      <% if @email_only.nil? && devise_error_messages!.empty? %>
        <hr class="soften" />
        <div class="center">
          <span class="or"> or </span>
        </div>
        <br>

        <%= link_to "#{user_omniauth_authorize_path(:facebook)}#{@referrer_id && "?referrer_id=#{@referrer_id}"}", :class => "facebook-connect", :style => "margin: auto;" do %>
          <span><%= fa_icon "facebook", :class => "fa-2x" %></span>
          <span>Log in with Facebook</span>
        <% end %>
        <br>
      <% end %>
    </div>
    <div class="info-panel col-sm-7">
      <div class="info-section">
        <%= image_tag '../img/globe.png' %>
        <div class="text">
          <h3>Shop online. Ship anywhere.</h3>
          We can ship your item to your home from any retailer in the US, UK, France, Canada or Hong Kong.
        </div>
      </div>

      <div class="info-section">
        <%= image_tag '../img/tag.png' %>
        <div class="text">
          <h3>Affordable, with no sign-up fees.</h3>
          We only charge you once - when we ship the package to you. OhShip adds a 20% fee on top of the shipping costs from our location to yours.
        </div>
      </div>

      <div class="info-section">
        <%= image_tag '../img/lock.png' %>
        <div class="text">
          <h3>Safe and secure.</h3>
          We provide photos, receipts and tracking information so you can be sure your package arrives in perfect condition.
        </div>
      </div>
    </div>
  </div>
</div>
