<%= form_for(current_user, :as => "user", :url => registration_path(current_user)) do |f| %>
  <div class="form-group"><%= f.label :name %><br />
  <%= f.text_field :name, :autofocus => true, :class => "form-control" %></div>

  <div class="form-group"><%= f.label :email %><br />
  <%= f.email_field :email, :class => "form-control" %></div>

  <% unless @signup %>
    <div class="form-group"><%= f.label :current_password %><br />
    <%= f.password_field :current_password, :class => "form-control" %></div>

    <div class="form-group"><%= f.label :password %><br />
    <%= f.password_field :password, :class => "form-control" %></div>

    <div class="form-group"><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, :class => "form-control" %></div>

    <div class="form-group"><%= f.submit "Save", :class => "btn btn-primary" %></div>
  <% end %>
<% end %>
