<% content_for :title do %>My Profile<% end %>

<div class="page-heading">
  <h2>Profile</h2>
</div>

<%= form_for(@user, :url => registration_path(@user) + '/profile', :html => {:class => 'form-horizontal'}) do |f| %>
  <% if @user.errors.any? %>
    <div class="alert alert-danger">
      Please fix the following errors with your profile:
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= raw msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if flash[:change_notice] %>
    <div class="alert alert-success">
      <%= raw flash[:change_notice] %>
    </div>
  <% end %>

  <div class="form-group <%= 'has-error' if @user.errors[:name].any? %>">
    <%= f.label :name, :class => 'col-sm-3 control-label' %>
    <div class="col-sm-9">
      <%= f.text_field :name, :autofocus => true, :class => "form-control" %>
    </div>
  </div>

  <div class="form-group <%= 'has-error' if @user.errors[:email].any? %>">
    <%= f.label :email, :class => 'col-sm-3 control-label' %>
    <div class="col-sm-9">
      <%= f.email_field :email, :class => "form-control" %>
    </div>
  </div>

  <% unless @signup %>
    <div class="form-group <%= 'has-error' if @user.errors[:address].any? %>">
      <%= f.label :address, :class => 'col-sm-3 control-label' %>
      <div class="col-sm-9">
        <%= f.text_field :address, :class => "form-control" %>
      </div>
    </div>

    <div class="form-group <%= 'has-error' if @user.errors[:city].any? %>">
      <%= f.label :city, :class => 'col-sm-3 control-label' %>
      <div class="col-sm-9">
        <%= f.text_field :city, :class => "form-control" %>
      </div>
    </div>

    <div class="form-group <%= 'has-error' if @user.errors[:state].any? %>">
      <%= f.label :state, 'State/Province', :class => 'col-sm-3 control-label' %>
      <div class="col-sm-9">
        <%= f.text_field :state, :class => "form-control" %>
      </div>
    </div>

    <div class="form-group <%= 'has-error' if @user.errors[:country].any? %>">
      <%= f.label :country, :class => 'col-sm-3 control-label' %>
      <div class="col-sm-9">
        <%= f.country_select :country, [@country], {}, :class => "form-control" %>
      </div>
    </div>

    <div class="form-group <%= 'has-error' if @user.errors[:postal_code].any? %>">
      <%= f.label :postal_code, 'Postal/ZIP code', :class => 'col-sm-3 control-label' %>
      <div class="col-sm-9">
        <%= f.text_field :postal_code, :class => "form-control" %>
      </div>
    </div>

    <hr />

    <h3>Change Password</h3>

    <div class="form-group <%= 'has-error' if @user.errors[:current_password].any? %>">
      <%= f.label :current_password, :class => 'col-sm-3 control-label' %>
      <div class="col-sm-9">
        <%= f.password_field :current_password, :class => "form-control" %>
      </div>
    </div>

    <div class="form-group <%= 'has-error' if @user.errors[:password].any? %>">
      <%= f.label :password, 'New password', :class => 'col-sm-3 control-label' %>
      <div class="col-sm-9">
        <%= f.password_field :password, :class => "form-control" %>
      </div>
    </div>

    <div class="form-group <%= 'has-error' if @user.errors[:password_confirmation].any? %>">
      <%= f.label :password_confirmation, 'Confirm password', :class => 'col-sm-3 control-label' %>
      <div class="col-sm-9">
        <%= f.password_field :password_confirmation, :class => "form-control" %>
      </div>
    </div>

    <br />

    <% if is_shippee? %>
      <div class="alert alert-info">
        <h3>Referrals</h3>
        If you'd like to refer someone, have them sign up using the following link:<br />
        <% url = new_user_registration_url(:referrer_id => current_user.id) %>
        <strong><%= link_to url, url, :id => "userProfileReferralLink" %></strong><br />
        <br />
        The first time they ship a package with us, your next package with OhShip will have the service fee waived!<br />
        So far, you've referred <%= @referral_count %> people<% if @referral_count > 0 %> and <%= @referral_success %> of them have sent a package<% end %>.<br />
        <% if @user.referral_credits > 0 %>
          <br />
          <strong>You currently have <%= @user.referral_credits %> shipping credits available!</strong>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <br />

  <div class="form-group">
    <div class="col-xs-12 right">
      <%= f.submit "Save Changes", :class => "btn btn-primary btn-lg" %>
    </div>
  </div>
<% end %>
