<% content_for :title, 'Reset Password' %>

<div class="row-fluid auth">
  <div class="col-md-12 center">
    <div class="col-md-6" style="margin: auto; float: none; text-align: left;">
      <h3>Reset your password</h3>

      <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
        <% unless devise_error_messages!.empty? %>
          <div class="alert alert-danger">
            <%= devise_error_messages! %>
          </div>
        <% end %>

        <div class="form-group"><%= f.label :email %>
        <%= f.email_field :email, :class => "form-control" %></div>

        <div class="row row-gutterless">
          <div class="col-xs-6">
            <div class="form-group"><%= f.submit "Reset password", :class => "btn btn-primary" %></div>
          </div>
          <div class="col-xs-6 right">
            <%= link_to "Sign in", new_user_session_path %> /
            <%= link_to "Sign up", new_user_registration_path %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
