<% content_for :body_tag do %>
  data-spy="scroll" data-target="#faq-nav"
<% end %>

<% content_for :title, 'FAQ' %>

<%
  faq = {
    :shipping => {
      "Which items are prohibited (and can't be delivered) through OhShip?" =>
        "See #{link_to "prohibited items list", prohibited_path}.",
      "Does OhShip consolidate packages?" =>
        "Yes, OhShip can consolidate your packages for free, saving you money on
        shipping. Please #{link_to "contact us", contact_path} us for this
        service.",
      "Does OhShip repack packages?" =>
        "Yes, OhShip offers free repacking services if the packaging is
        inadequate or takes too much space, saving you money on shipping. We do
        this automatically, so you don't need to do anything.",
      "What is the maximum size of package I can receive?" =>
        "<p>The maximum parcel size is 25\" x 22\" x 17\" (roughly as big as a 26\"
        TV).  The parcel weight limit is a maximum of 30 kg (~65 lbs).  If your parcel
        exceeds the maximum size or weight, you will be emailed with the choice of
        picking it up from our central warehouse during operating hours or having it
        returned to the sender. If you’re not sure whether a parcel will be within the
        limits, we recommend asking the sender before placing your order.",
      "How do I track my shipment?" =>
        "When you purchase your package through a Merchant, you may receive a
        tracking number from them for tracking it on its way to OhShip. We will
        ask you for this number when you enter your package details, but it is
        not required.<br>
        <br>
        Once we have received your package and then sent it to you, we will
        provide you with a tracking number if you chose a shipping option that includes
        tracking. You can use this number on the shipping carrier’s website to track
        your package’s status.",
      "How do I calculate my shipping charges in advance?" =>
        "If you know the size of the package, you can estimate the costs using
        our #{link_to "shipping estimator", estimate_path}. Unfortunately, it is
        impossible to determine the exact charges in advance as we do not know the
        package size coming from the merchant.",
      "Does the package have to be delivered to my billing address?" =>
        "No, you can send your package to another address, so long as someone
        can sign for the package during the day.",
      "How do I change my delivery address?" =>
        "When you're logged in, click on the \"My Profile\" button. In here, you
        can edit your address.",
      "Can you deliver to any address?" =>
        "We deliver to most addresses. However, if you live in a remote area,
        you may need to pick up your package from your nearest post office.",
      "How long does delivery take?" =>
        "Delivery time depends on the origin and destination country as well as
        the method of shipment that is selected.<br>
        <br>
        For example, a US website normally takes 1-3 days to deliver it to your
        OhShip address if standard shipping was selected. Once the item is delivered to
        your OhShip address, depending on the destination address and the shipment
        method selected, shipment to your address could take 3 days (most of the time)
        to 2 weeks (rarely). Please allow for a day of processing between receiving it
        at your OhShip address and sending it to you.",
      "What if my package is arrived damaged to my OhShip address?" =>
        "OhShip may refuse to receive any package that shows obvious signs of
        damage or missing contents. If this happens, the package will be rejected and
        returned to sender, and we’ll notify you.<br>
        <br>
        While we don’t have the responsibility to determine any potential
        damages in the packages, if during handling we notice any signal of
        damages, we’ll notify you through via email.  If this happens,
        your package would not be shipped unless you specifically authorize to
        do so."
      "Do I really have to pay tax and duty?" =>
        "Yes. Governments have regulations requiring the payment of these fees.
        We will do "
    },
    :payment => {
      "Which currency is used for payment?" =>
        "You pay the Merchant in the currency of their country (e.g. US
        Merchants will charge in US dollars). OhShip charges in US dollars, but
        alternate currency payments can be arranged by
        #{link_to "contacting us", contact_path}."
    }
  }
%>

<h1>FAQ</h1>
<hr class="soften" />

<ul class="nav nav-pills nav-justified">
  <% faq.each do |section_name, section| %>
    <li>
      <%= link_to "", :class => "nav-category" do %>
        <%= section_name.to_s.titleize %> <%= fa_icon "caret-right" %>
      <% end %>
      <ul class="nav nav-pills nav-stacked hide">
        <% count = 0 %>
        <% section.each do |question, answer| %>
          <li><%= link_to question, "##{section_name}#{count}" %></li>
          <% count = count + 1 %>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>

<div class="row">
  <div id="faq-nav" class="col-sm-3">
    <ul class="nav nav-pills nav-stacked nav-side">
      <% faq.each do |section_name, section| %>
        <li><%= link_to section_name.to_s.titleize, "##{section_name}" %></li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-9">
    <% faq.each do |section_name, section| %>
      <h2 id="<%= section_name %>"><%= section_name.to_s.titleize %></h2>
      <% count = 0 %>
      <% section.each do |question, answer| %>
        <h3 id="<%= section_name %><%= count %>"><%= question.to_s.titleize %></h3>
        <p><%= raw answer %></p>
        <br>
        <% count = count + 1 %>
      <% end %>
    <% end %>
  </div>
</div>
