<% content_for :navbar do %>
  <li class="active"><a href="#overview">Overview</a></li>
  <li><a href="#features">How it Works</a></li>
  <li><a href="#signup">Signup</a></li>
<% end %>

<div id="overview" class="section expanded">
  <div class="container auth">
    <div class="header-bg">
      <h1>Shop online. Ship anywhere.</h1>
      <h2>Website doesn't ship to your country? We'll do it for you.</h2>
    </div>
    <br><br>
    <div class="row-fluid row-gutterless">
      <div class="col-md-4">
        <%= link_to user_omniauth_authorize_path(:facebook), :class => "facebook-connect" do %>
          <span><%= fa_icon "facebook", :class => "fa-3x" %></span>
          <span>Log in with Facebook</span>
        <% end %>
      </div>
      <div class="col-md-4 mobile-or">
        <span class="or">- or -</span>
      </div>
      <div class="col-md-4">
        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
          <%= hidden_field_tag :email_only, true %>
          <div class="form-group">
            <span class="or"><div class="or-inner">or</div></span>
            <%= f.email_field :email, :class => "email form-control col-xs-6", :placeholder => "Sign up with email" %>
            <%= button_tag raw(fa_icon("arrow-right", :class => "fa-lg")), :class => "email-signup btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div id="features" class="section">
  <div class="container">
    <h1>Meet OhShip</h1>
    <hr class="soften" />
    <div class="row-fluid">
      <div class="col-md-4">
        <div class="step">
          <%= image_tag "../img/ribbon1.png", :class => "ribbon" %>
          <%= image_tag "../img/checkout.png", :class => "process" %>
          <div class="step-caption">
            <h2>Shop like usual</h2>
            <p>Tell us where you want your items shipped, and we'll provide you with a forwarding address.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="step">
          <%= image_tag "../img/ribbon2.png", :class => "ribbon" %>
          <%= image_tag "../img/ohship-lg.png", :class => "process", :style => "top: 125px !important;" %>
          <div class="step-caption">
            <h2>We send it</h2>
            <p>When the merchandise arrives at our address, we'll send it to your home.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="step last">
          <%= image_tag "../img/ribbon3.png", :class => "ribbon" %>
          <%= image_tag "../img/house-gift.png", :class => "process" %>
          <div class="step-caption">
            <h2>You receive it</h2>
            <p>You get it quickly and without hidden fees.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row-fluid">
      <%= link_to "Read more", details_path, :class => "btn btn-primary btn-lg" %>
    </div>
  </div>
</div>

<div class="featurette featurette-1">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="featurette-heading">Safe. <span class="text-muted">Secure.</span></h2>
        <p class="lead">We take extra care in making sure your merchandise is shipped to you in perfect condition.</p>
      </div>
    </div>
  </div>
</div>

<div class="featurette featurette-2">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-6 right">
        <h2 class="featurette-heading">Affordable. <span class="text-muted">No hidden fees. No signup fee.</span></h2>
        <p class="lead">We ship at a lower cost by shipping from our location closest to you. OhShip charges a 20%
        service fee on the shipping cost (e.g. $2 if the shipping cost is $10). This fee covers the cost of running
        this site and allows us to offer top notch service.</p>
      </div>
    </div>
  </div>
</div>

<div id="signup" class="section expanded">
  <div class="container center">
    <h1>Get started with OhShip!</h1>
    <br>
    <%= link_to "Sign up", new_user_registration_path, :class => "btn button-starter"%>
    <div class="row hidden">
      <div class="col-md-5" style="margin: auto;">
        <div class="title title-starter">
          Shop online. Ship anywhere.
        </div>
        <div class="signup-inner">
          <!--<div class="price">
            20%
          </div>
          <div class="renewal">
            as additional fees
          </div>
          <hr />-->
          <p>No hidden fees</p>
          <hr />
          <p>No signup fee</p>
          <br>
          <% #Sign up for buying %>
          <%= link_to "Sign up", "#overview", :class => "btn button-starter"%>
        </div>
      </div>
      <div class="col-md-5 col-md-offset-1 hidden">
        <div class="title title-monthly">
          Become an OhShipper
        </div>
        <div class="signup-inner">
          <div class="price">
            50%
          </div>
          <div class="renewal">
            commission on packages you ship
          </div>
          <hr />
          <p>Simple background check</p>
          <hr />
          <p>Make money easily</p>
          <br>
          <br>
          <% #Become an OhShipper %>
          <%= link_to "Coming soon", "#overview", :class => "pure-button button-monthly"%>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="social" class="section">
  <div class="container center">
    <h1 class="center no-top-margin">Find us on social networks</h1>
    <%= link_to "http://www.facebook.com/ohshipme" do %>
      <%= fa_stacked_icon "facebook inverse", base: "circle", :class => "fa-5x" %>
    <% end %>
    <%= link_to "http://twitter.com/OhShipMe" do %>
      <%= fa_stacked_icon "twitter inverse", base: "circle", :class => "fa-5x" %>
    <% end %>
  </div>
</div>
