<div id="overview" class="section expanded">
  <div class="container">
    <div class="hero-unit">
      <div class="logo">
        <%= image_tag "../img/ohship-lg.png" %>
      </div>
      <h3>Ship from anywhere, to anywhere.</h3>
      <p></p>
      <p>Ever want to buy something, but it isn't available in <%= country %>?</p>
      <br>
      <div class="center">
        <%= link_to 'Sign Up', "#signup", :class => 'btn btn-primary btn-xlg' %>
      </div>
    </div>
  </div>
  <div class="next-caret next-caret-darken">
    <a href="#features"><i class="icon-angle-down icon-4x"></i></a>
  </div>
</div>

<hr class="featurette-divider no-top-margin">

<h1 class="featurette-heading">Meet OhShip</h1>

<hr class="featurette-divider">

<div id="features" class="section container">
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Buy anything. <span class="text-muted">Ship anywhere.</span></h2>
      <p class="lead">Tired of not being able to ship to <%= country %>? OhShip! will find you a person who lives </p>
    </div>
    <div class="col-md-5">
      <%= image_tag "../img/slide1.png", class: "featurette-image img-responsive" %>
    </div>
  </div>
</div>

<hr class="featurette-divider">

<div class="container">
  <div class="row featurette">
    <div class="col-md-5">
      <img class="featurette-image img-responsive" src="data:image/png;base64," data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
    <div class="col-md-7">
      <h2 class="featurette-heading">Pay only for shipping. <span class="text-muted">No hidden fees.</span></h2>
      <p class="lead"></p>
    </div>
  </div>
</div>

<hr class="featurette-divider">

<div class="container">
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive" src="data:image/png;base64," data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
  </div>
</div>

<hr class="featurette-divider no-bottom-margin">

<div id="signup" class="section expanded">
  <div class="container">
    <h1 class="center">Get started with OhShip!</h1>
    <br>
    <br>
    <div class="row">
      <div class="col-md-5">
        <div class="title title-starter">
          Buy things globally
        </div>
        <div class="signup-inner">
          <div class="price">
            $5
          </div>
          <div class="renewal">
            per shipment
          </div>
          <hr />
          <p>No hidden fees</p>
          <hr />
          <p>Pay only for shipping</p>
          <br>
          <br>
          <%= link_to "Sign up for buying", "/users/sign_up", :class => "pure-button button-starter"%>
        </div>
      </div>
      <div class="col-md-5 col-md-offset-1">
        <div class="title title-monthly">
          Become an OhShipper
        </div>
        <div class="signup-inner">
          <div class="price">
            $3
          </div>
          <div class="renewal">
            per package you ship
          </div>
          <hr />
          <p>Simple background check</p>
          <hr />
          <p>Make money easily</p>
          <br>
          <br>
          <%= link_to "Become an OhShipper", "", :class => "pure-button button-monthly"%>
        </div>
      </div>
    </div>
  </div>
</div>
