<div id="overview" class="section expanded">
  <div class="container auth">
    <div class="row-fluid">
      <div class="col-md-4 hero-unit">
        <h2>Sign up</h2>

        <%= link_to user_omniauth_authorize_path(:facebook), :class => "facebook-connect" do %>
          <span><%= fa_icon "facebook", :class => "fa-3x" %></span>
          <span>Log in with Facebook</span>
        <% end %>

        <hr class="soften" />
        <div class="center">
          <span class="or"> or </span>
        </div>

        <h3>Sign up by email</h3>

        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
          <% unless (devise_error_messages!).empty? %>
            <div class="alert alert-danger">
              <%= devise_error_messages! %>
            </div>
          <% end %>

          <%= f.hidden_field :email_only, :value => true %>

          <div class="form-group"><%= f.email_field :email, :class => "form-control", :placeholder => "Email address" %></div>

          <div class="row row-gutterless">
            <div class="col-xs-6">
              <div class="form-group"><%= f.submit "Sign up", :class => "btn btn-primary" %></div>
            </div>
            <div class="col-xs-6 right">
              <%= link_to "Or login instead", new_user_session_path %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<hr class="featurette-divider no-top-margin">

<h1 class="featurette-heading">Meet OhShip</h1>

<hr class="featurette-divider">

<div id="features" class="section container">
  <div class="row-fluid featurette">
    <div class="col-md-4">
      <div class="step">
        <%= image_tag "../img/ribbon1.png", :class => "ribbon" %>
        <%= image_tag "../img/checkout.png", :class => "process" %>
        <div class="step-caption">
          <h2>Buy like usual</h2>
          <p>Ship it to us instead.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="step">
        <%= image_tag "../img/ribbon2.png", :class => "ribbon" %>
        <%#= image_tag "../img/ohship-lg.png", :class => "process", :style => "top: 125px !important;" %>
        <%= image_tag "../img/warehouse.png", :class => "process" %>
        <div class="step-caption">
          <h2>We ship it to you</h2>
          <p>We'll deal with customs and fees.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="step last">
        <%= image_tag "../img/ribbon3.png", :class => "ribbon" %>
        <%= image_tag "../img/house-gift.png", :class => "process" %>
        <div class="step-caption">
          <h2>Receive it hassle-free</h2>
          <p>You get it quickly and without hidden fees.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<hr class="featurette-divider">

<div class="container">
  <div class="row featurette">
    <div class="col-md-5">
      <%= image_tag "../img/shipping.png", class: "featurette-image img-responsive" %>
    </div>
    <div class="col-md-7">
      <h2 class="featurette-heading">Pay only for shipping. <span class="text-muted">No hidden fees.</span></h2>
      <p class="lead">OhShip! is committed to keeping your fees as low as possible. We broker customs for you at a rate as reduced as 90% of
      what other customs brokers charge. We also notify you if we think your shipping requests will lead to fees that you don't want.</p>
    </div>
  </div>
</div>

<hr class="featurette-divider">

<div class="container">
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Completely insured. <span class="text-muted">No risk.</span></h2>
      <p class="lead">Every shipment through OhShip! is completely insured. We've got your back if anything comes up. If you've got questions,
      we're here to answer them.</p>
    </div>
    <div class="col-md-5">
      <%= image_tag "../img/support.png", class: "featurette-image img-responsive" %>
    </div>
  </div>
</div>

<hr class="featurette-divider no-bottom-margin">

<div id="signup" class="section expanded">
  <div class="container">
    <h1 class="center">Get started with OhShip!</h1>
    <br>
    <br>
    <div class="row">
      <div class="col-md-5">
        <div class="title title-starter">
          Buy things globally
        </div>
        <div class="signup-inner">
          <div class="price">
            10%
          </div>
          <div class="renewal">
            service charge on shipping
          </div>
          <hr />
          <p>No hidden fees</p>
          <hr />
          <p>Pay only for shipping</p>
          <br>
          <br>
          <% #Sign up for buying %>
          <%= link_to "Coming soon", "#overview", :class => "pure-button button-starter"%>
        </div>
      </div>
      <div class="col-md-5 col-md-offset-1">
        <div class="title title-monthly">
          Become an OhShipper
        </div>
        <div class="signup-inner">
          <div class="price">
            50%
          </div>
          <div class="renewal">
            commission on packages you ship
          </div>
          <hr />
          <p>Simple background check</p>
          <hr />
          <p>Make money easily</p>
          <br>
          <br>
          <% #Become an OhShipper %>
          <%= link_to "Coming soon", "#overview", :class => "pure-button button-monthly"%>
        </div>
      </div>
    </div>
  </div>
</div>
