<footer>
  <%= render "analytics/segment_identify" %>
  <div class="container <%= local_assigns[:thin] && "thin" %>">
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p>&copy; 2013 SciGit, Inc. &middot; <%= link_to "Terms", terms_path %> &middot; <%= link_to "How it Works", details_path %><br>
    <%= link_to "hello@ohship.me", "mailto:hello@ohship.me" %></p>
  </div>
</footer>
