<footer>
  <%= render "analytics/segment_identify" %>
  <div class="container <%= local_assigns[:thin] && "thin" %>">
    <div class="row row-gutterless">
      <div class="col-md-2">
        <h3>OhShip</h3>
        <ul>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Shipping Estimator", estimate_path %></li>
          <li><%= link_to "Refer a Friend", refer_path %></li>
        </ul>
      </div>
      <div class="col-md-2">
        <h3>Help</h3>
        <ul>
          <li><%= link_to "How it Works", details_path %></li>
          <li><%= link_to "FAQ", faq_path %></li>
        </ul>
      </div>
      <div class="col-md-2">
        <h3>Legal</h3>
        <ul>
          <li><%= link_to "Terms of Service", terms_path %></li>
          <li><%= link_to "Prohibited Items", prohibited_path %></li>
        </ul>
      </div>
      <div class="col-md-2">
        <h3>Social</h3>
        <ul>
          <li><%= link_to "Twitter", "http://twitter.com/OhShipMe" %></li>
          <li><%= link_to "Facebook", "http://www.facebook.com/ohshipme" %></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h3>Contact</h3>
        <ul>
          <li><span class="text-muted">Phone:</span> +1 (888)-SHIP-148</li>
          <li><span class="text-muted">Email:</span> <%= link_to "hello@ohship.me", "mailto:hello@ohship.me" %></li>
          <li><%= link_to "Mailing Address", contact_path %></li>
        </ul>
      </div>
    </div>
    <br>
    <br>
    <div class="row row-gutterless">
      <div class="col-md-12">
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2013 SciGit, Inc.</p>
      </div>
    </div>
  </div>
</footer>
