<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>OhShip</title>

    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render "devise/sessions/new_modal" %>

    <div class="landing navbar-wrapper">
      <div class="navbar navbar-inverse navbar-static-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><%= image_tag "../img/ohship.png" %></a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="#overview">Overview</a></li>
              <li><a href="#features">How it Works</a></li>
              <li><a href="#signup">Signup</a></li>
              <% unless current_user %>
                <li><%= link_to "Login", "#loginModal", :class => "btn btn-primary", :data => {:toggle => "modal"} %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <%= yield %>

    <footer>
      <div class="container">
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2013 SciGit, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a><br>
        <%= link_to "hello@ohship.me", "mailto:hello@ohship.me" %></p>
      </div>
    </footer>
  </body>
</html>

