<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>OhShip</title>

    <link rel="shortcut icon" href="/favicon.ico?1">
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render "analytics/segment" %>
  </head>
  <body>
    <%= render "devise/sessions/new_modal" %>

    <div class="landing navbar-wrapper">
      <div class="navbar navbar-inverse navbar-static-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to root_path do %>
              <%= image_tag "../img/ohship.png" %>
            <% end %>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <% unless current_user %>
                <%= yield :navbar %>
                <li><%= link_to "Login", "#loginModal", :class => "btn btn-primary", :data => {:toggle => "modal"} %></li>
              <% else %>
                <li><%= link_to "Go to App", root_path, :class => "btn btn-primary" %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <%= yield %>

    <%= render "layouts/footer" %>
  </body>
</html>

